<div class="ad-wrapper">
	<h5>
		<i class="fa fa-tags"></i> Buy This!
		<a href="#" class="closer"><i class="fa fa-power-off"></i></a>
	</h5>
	<img src="http://placehold.it/220x240&text=[ad]" />
	<br clear="all" />
</div>
<div class="ad-wrapper">
	<h5>
		<i class="fa fa-tags"></i> Also Buy This!
		<a href="#" class="closer"><i class="fa fa-power-off"></i></a>
	</h5>
	<img src="http://placehold.it/220x240&text=[ad]" />
	<br clear="all" />
</div>
<div class="ad-wrapper">
	<h5>
		<i class="fa fa-tags"></i> Don't forget about this!
		<a href="#" class="closer"><i class="fa fa-power-off"></i></a>
	</h5>
	<img src="http://placehold.it/220x240&text=[ad]" />
</div>
