div class="large-8 columns"
  h1
    i class="fa fa-rss-square" 
    The Repo Feeder

div class="large-4 columns"
  p class="repo-name"
    i class="fa fa-github"
      strong Repo:
      a href="http://github.com/%{params[:username]}/#{params[:reponame]} target="_blank"
        | #{ params[:username]} / #{ params[:reponame] }
