<div class="large-8 columns">
	<h1><i class="fa fa-rss-square"></i> The Repo Feeder</h1>
</div>

<div class="large-4 columns">
	<p class="repo-name">
	<i class="fa fa-github"></i> <strong>Repo:</strong> <a href="http://github.com/<%= params[:username] %>/<%= params[:reponame] %>" target="_blank">
		<%= params[:username] %> / <%= params[:reponame] %>
	</a>
	</p>
</div>

<hr />
