doctype html

html
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"

		title The Repo Feeder
		
		link rel="shortcut icon" href="/images/feedIcon.png" type="image/x-icon"
		link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.css"
		link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css"
		link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"
		link rel="stylesheet" href="/aplication.css" type="text/css"

	body
		header class="row"
			== slim :_header

		section class="row"
			div class="large-3 colums"
				== slim :_user_info
			div class="large-6 columns activity-feed"
				== yield
			div class="large-3 columns"
				== slim :_ads_left_column

		footer class="row"
			== slim :_footer

		script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		script type="text/javascript" src="/application.js"
	
